<form method='post' action='login/login'>
  <label for='l_user'>Username</label>
  <input type='text' id='login_user' name='l_user' />
  <label for='l_pass'>Password</label>
  <input type='password' id='login_pass' name='l_pass' />
  <button type='submit'>Login</button>
</form>

<form method='post' action='login/register'>
  <label for='r_user'>Username</label>
  <input type='text' id='register_user' name='r_user' />
  <label for='r_email'>Email Address</label>
  <input type='email' id='register_email' name='r_email' />
  <label for='r_pass'>Password</label>
  <input type='password' id='register_pass' name='r_pass' />
  <button type='submit'>Register</button>
</form>
